.container{
  background-color: rgb(5, 155, 248);
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;  
}
.card{
  border-radius: 15px !important;
}
.card-title{
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
}
.text-secondary{
  opacity:0.5;
}
.card-price{
  text-align: center;
}
.card-body{
  display: grid;
  text-transform: capitalize;
}
.btn{
  border-radius: 15px !important;
  font-weight: bolder !important;
  padding: 3% !important;
}
.short-border {
  margin: 4%;
}
.list-group-flush .list-group-item {
  border-bottom: none;
}
.disabled{
  opacity: 0.4;
}
.card:hover {
  transform: translateY(-10px);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
